// @import '../../../styles/mixsins.scss';
// @import 'styles/_mixsins.scss';
@import '../../../styles/shared.scss';

.imageGallery {
  display: grid;
  /* max-width: calc(100vw - 48px); */
  width: 100%;
  /* height: 260px; */
  /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;

  @include for-size(desktop) {
        width: 270px;
        height: max-content;
        display: none;
      }  
}
